<!doctype html>
<html>

<head></head>

<body>
<h1>Products (<%= @products.length %>)</h1>
<%= link_to "New Product", "/products/new" %>
<%= link_to "Register", "/users/new" %>

<%- @products.each do |product| %>
	<p><%= product[:name] %>, <%= product[:description] %><%= product[:name] %></p>

<% end %>

</body>
</html>