<!DOCTYPE html>
<html>
	<head>
	  <title>RainforestRemake</title>
	  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
	  <%= javascript_include_tag "https://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js" %>
		<%= csrf_meta_tags %>
		<link rel="stylesheet" type="text/css" href="css/960_12_col.css" />
			<style>
				* {
					font-family: Arial, Verdana, sans-serif;
					color: #665544;
					text-align: center;}
				#nav, #feature, .article, #footer {
					background-color: #efefef;
					margin-top: 20px;
					padding: 10px 0px 5px 0px;}
				#feature, .article {
					height: 100px;}
				li {
					display: inline;
					padding: 5px;}
			</style>
	</head>

	<body>
		<div class="container_12 clearfix">
			<div id="header" class="grid_12">
				<h1>Logo</h1>
				<div id="nav">
					<ul>
						<li><a href="">Home</a></li>
						<li><a href="">Products</a></li>
						<li><a href="">Services</a></li>
						<li><a href="">About</a></li>
						<li><a href="">Contact</a></li>			
						<li class="userinfo">
							<% if current_user %>
							Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
							<% else %>
								<%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
							<% end %>
						</li>
					</ul>
				</div>
			</div>
			<div id="feature" class="grid_12">
				
		<% if flash[:notice] %>
			<p id="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p id="alert"><%= flash[:alert] %></p>
		<% end %>

		<%= yield %>

			<p class="userinfo">
				<% if current_user %>
					Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
					<% else %>
						<%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
					<% end %>
			</p>
			</div>
			<div class="article grid_4">
				<p>Column One</p>
			</div>
			<div class="article grid_4">
				<p>Column Two</p>
			</div>
			<div class="article grid_4">
				<p>Column Three</p>
			</div>
			<div id="footer" class="grid_12">
				<p>&copy; Copyright 2011</p>
			</div>
		</div><!-- .container_12 -->


	</body>
</html>
