<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />

        <title>Rainforest Remake</title>
					<%= stylesheet_link_tag    "application", :media => "all" %>
					<%= javascript_include_tag "application" %>
					<%= javascript_include_tag "http://ricostacruz.com/jquery.transit/jquery.transit.min.js" %>
        	<!-- Lobster font from Google's Font Directory -->
        	<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Lobster" />
</head>
	<body>
        <header>
            <ul class="fancyNav">
                <li id="home"><a href="#home" class="homeIcon"><img src="http://icons.mysitemyway.com/wp-content/gallery/magic-marker-icons-natural-wonders/thumbs/thumbs_115615-magic-marker-icon-natural-wonders-icon_131.png" width="36px"></a></li>
                <li id="news"><a href="#news">Products</a></li>
                <li id="about"><a href="#about">Sell</a></li>
                <li id="services"><a href="#services">Buy</a></li>
                <li id="contact"><a href="#contact">Reviews</a></li>
                <li id="contact"><a href="#contact">
									<%= link_to "New Product", "/products/new" %>
                </a></li>
            </ul>
        </header>


  <div class="content">


									<% if current_user %>
									Signed in as <%= current_user.email %>. <%= link_to "Log out", session_path("current"), :method => :delete %>
								</a></li>
								<li id="contact"><a href="#contact">
									<% else %>
										<%= link_to "Log in", new_session_path %> or <%= link_to "Sign up", new_user_path %>
									<% end %>
		<% if flash[:notice] %>
			<p id="notice"><%= flash[:notice] %></p>
		<% end %>
		<% if flash[:alert] %>
			<p id="alert"><%= flash[:alert] %></p>
		<% end %>

		<%= link_to "New Product", "/products/new" %>
		<%= link_to "Register", "/users/new" %>

		<%- @products.each do |product| %>
			<p><%= product[:name] %>, <%= product[:description] %><%= product[:name] %></p>

		<% end %>

			

			
	</div>

	<nav>
  <ul>
    <li><a href="#">One</a></li>
    <li><a href="#">Two</a></li>
    <li><a href="#">Three</a></li>
    <li><a href="#">Four</a></li>
    <li><a href="#">Five</a></li>
    <li><a href="#">Six</a></li>
  </ul>
</nav>

<section id="slider"> 
  <ul>
    <li><img src="http://placekitten.com/600/400" alt="Slide One"></li>    
    <li><img src="http://placekitten.com/600/400" alt="Slide Two"></li>
    <li><img src="http://placekitten.com/600/400" alt="Slide Three"></li>
    <li><img src="http://placekitten.com/600/400" alt="Slide Four"></li>
    <li><img src="http://placekitten.com/600/400" alt="Slide Five"></li>
    <li><img src="http://placekitten.com/600/400" alt="Slide Six"></li>
  </ul>    
</section>
	</body>
</html>
